a[data-value="log"] {
    font-weight: bold;
    font-style: italic;
}

body {
  padding-top: 70px;
}

code {
  color: #337ab7;
  background-color: #F5F5F5;
}

.help {
  position: relative;
  bottom: 5px;
  font-size: 8pt;
  font-weight: bold;
  color: #ffffff;
  background-color: #337ab7;
  border-width: 0;
  border-radius: 50%;
  box-shadow: 0.25em 0.25em 0.25em #888888;
  width: 1.75em;
  height: 1.75em;
  padding: 0;
}

.modal-body h4 {
  font-weight: bold;
}


.nav-pills > li > a {
  padding: 5px;
}

.navbar-brand {
  padding-left: 5px;
  padding-bottom: 0;
  height: 40px;
}

.stop-button {
  position: fixed;
  top: 5px;
  right: 5px;
}

.alert {
  /*padding: 1em;
  font-weight: bold;
  color: green;*/
  padding: 10px;
  max-width: 350px;
  max-height: 200px;
  margin: auto;
  text-align:center;
  font-size: 100%;
  border-style: solid;
  border-radius: 5px;
  border-color: #337ab7;
  color: #337ab7;
  box-shadow: 10px 10px 5px #888888;
}

.shiny-output-error-validation {
  /*padding: 1em;
  color: green;*/
  padding: 10px;
  width: auto;
  height: auto;
  margin: auto;
  font-size: 120%;
  color: #337ab7;
  font-weight: bold;
}

.shiny-progress .progress-text {
  background-color: orange;
}

.shiny-progress .progress-text .progress-message {
  font-size: 100%;
  color: #03F;
}

element.style {
  width: 33.33%;
}

.current {
  width: 325px;
  overflow: hidden;
  position:relative;
}

.current img {
    margin-right: 15px;
    float: left;
}

img{
  height: auto;
  max-width: 100%;
}

/*https://css-tricks.com/text-blocks-over-image/*/
.wiki-watermark {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  position:absolute;
  width: auto;
  height: auto;
  bottom:0;
  padding: 5px;
  color:white;
  font-weight:bold;
  font-size: 75%;
}

.wiki-watermark a:link, .wiki-watermark a:visited, .wiki-watermark a:hover, .wiki-watermark a:active, .wiki-watermark a:focus {
  color:white;
}

.data-status {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-weight:bold;
  font-size: 85%;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 3pt;
  margin: 5px;
  bottom: 1px;
  right: 1px;
  position: fixed;
}

.package-version {
  padding: 5px;
  font-weight:bold;
  font-size: 85%;
  margin: 5px;
  bottom: 25px;
  right: 1px;
  position: fixed;
}
